.material_twitter {
	font-weight: bold;
}
.material_twitter img {
	width: 30px;
	height: 24px;
	margin-right: 5px;
}

.floatR {
	float: right;
}

md-content.sticky-container {
	padding: 0;
}

md-content.sticky-container .dialog-content{
  padding: 0 24px 24px;
}

h2.md-subheader.md-default-theme {
  color: white;
  background-color: #3F51B5;
  margin: 0px;
}

.md-subheader:not(.md-sticky-no-effect):after {
  right: 0;
}

h2.md-subheader.md-default-theme {
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16 );
}

h2 .md-subheader-content {
  padding-left: 10px;
}