<md-dialog>

  <md-content class="sticky-container gaminglive_dialog">
    <md-subheader>Liste des Chaines GamingLive actives</md-subheader>
    <div class="dialog-content">

      <md-list>
        <md-item class="md-3-line" ng-repeat="item in items">
          <div class="md-item-text">

            <md-button class="md-raised" ng-click="dialog_switchDailychannel(item.id)">{{ item.title }}</md-button>
            
            <span class="badge floatR">{{ item.audience }} viewers</span>

          </div>
        </md-item>
      </md-list>

    </div>
  </md-content>
</md-dialog>